.form-container {
  
  border-radius: .5em;
  width:70%;
  margin:auto;
  }
  .btn-submit{
    background-color: #FF8126;
    height: 55px;
    width: 320px;
    font-size:25px;
    margin-top:2%;
    font-family: 'Gilroy-Bold', sans-serif;
  }
  
  .form-container input{
    background-color:#F6F6F6;
    height: 83px;
   
   

  }
  .input-1{
    gap:4%;
  }
  
form{
  width: 100%;
}


  .form-container textarea{
    background-color:#F6F6F6;
    height: 312px;
    width: 100%;

  }

.description-contact{
  font-size: 20px;
width: 60%;
color:black;
font-family: 'Gilroy-Light',sans-serif;;
text-align: center;
padding:4%;

}

.contact h1{
 
  font-family: 'Gilroy-Bold';
 padding-top:20px;
font-size: 40px;
color:black;
text-align: center;

}
.contact p{
  justify-content: center;
  text-align: center;
  margin:auto;
}