.card {
  display: flex;
  width: 70%;
  margin:auto;
  margin-top: 17%;

}


.card-body {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy-Light", sans-serif;
  text-align: left;
  margin-top: 20px;
  padding:4%;

}
.title-desc-signaletique {
text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 30px;
}
.description-signaletique {
 
 justify-content: center;
 text-align: center;
 margin:auto;
 padding:3%;
 font-family:'Gilroy-Light', sans-serif;
  width: 50%;
  font-size: 20px;
}

section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.type-signaletique {
  text-decoration: none;
  margin: 2%;
  font-size: 18px;
  font-weight: 500px;
  color: #d7610c;
  font-family: "Gilroy-Medium", sans-serif;
  border: 1px solid grey;
  padding: 10px;
  transform: translateX(-50%);
}
.list-signaletique{
  font-family: Gilroy-SemiBold;
}
.list-signaletique a{
  padding: 1%;
  font-size: 15px;
}
.list-signaletique a:hover {
  background-color: #ff8126;
  color: #ffff;
  border:none;
}


.list-total {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}



