/* .CartDetail{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 50px auto;
}

.CartDetailInfo{
    text-align: start;
} */
.CartDetail {
  display: flex;
  margin: 50px auto;
  flex-wrap: wrap;
  width: 70%;
}
.CartDetailImage {
  width: 40%;
  height: 400px;
  border: 1px solid rgba(207, 207, 207, 0.505);
  margin-right: 30px;
}
.CartDetailInfo {
  text-align: start;
  flex: 1;
}
.CartDetailInfo__price {
  color: var(--primaryColor);
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
}
.CartDetailBtn {
  display: flex;
  justify-content: start;
}
@media (max-width: 762px) {
  .CartDetailBtn {
    margin-top: 20px;
  }
  .CartDetailImage{
    width: 100%;
  }
}