.nav-component {
  margin-left: 2%;
  margin-right: 2%;
}
nav {
  display: flex;
  justify-content: center;
}
.cart span {
  cursor: pointer;
}
/* //style du panier */
.cart .shopping-icone {
  font-size: 2em;
  color: black;
}
/* //style du nombre sur le panier */
.cart span:nth-child(3) {
  padding: 0 3px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  top: -15px;
}
nav .item {
  text-decoration: none;
  text-transform: uppercase;
  margin: 20px 40px;
  font-size: 20px;
  font-weight: 500;
  color: black;
  font-family: "Gilroy-Bold", sans-serif;
}

nav a:hover {
  color: #ff8126;
  text-decoration: underline;
}

.item::selected {
  color: #d7610c;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entete {
  display: flex;
  flex-direction: row;
}

.dropbtn {
  background-color: transparent;
  color: black;
  margin-right: 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  margin-left: -90px;
  border: 1px grey solid;
}

.dropdown:hover .dropdown-content {
  display: block;
  justify-content: center;

  cursor: pointer;
}
.btn-dropdown button {
  background: transparent;
  border: none;
}

.btn-dropdown {
  text-align: left;
  background-color: #ffff;
  margin-bottom: 5px;
  left: 0;
  right: 0;
  padding-left: 10px;
  margin: 0;
  height: 30px;
}
.btn-dropdown a {
  text-decoration: none;
}
.search {
  border: 1px solid grey;
  text-align: left;
  border-radius: 10px;
  padding: 1%;
}

.search input {
  border: none;
  outline: none;
  padding-right: 400px;
}
.person-icon {
  display: flex;

  justify-content: space-between;
}

.div-copyright .btn-connexion {
  color: #ff8126;
}

.cart-icon {
  color: blue;
}
.menuBar {
  display: none;
}
@media (max-width: 700px) {
  .search {
    display: none;
  }
  .person-icon {
    display: none;
  }
  .nav-component nav {
    flex-direction: column;
  }
  .menuBar {
    display: block;
    cursor: pointer;
  }
  .nav-component {
    height: 170px;
    overflow: hidden;
  }
  /*. class utilisé dans le JS pour affiché le menu sur mobile */
  .showMenu {
    height: fit-content;
  }
  /* Fin */
}
