.image-signaletique {
  background-color: #f4f4f4;
  height: 240px;
  width: 100%;
}
.image-signaletique img {
  width: auto;
  height: auto;
}

.title-signaletique {
  color: black;
  font-size: 25px;
  width: 80%;
  font-family: "Gilroy-Light";
  font-weight: 300;
}
.price {
  width: 50%;
  font-family: "Gilroy", sans-serif;
  font-size: 40px;
  font-style: italic;
  padding:4%;
  font-weight: 700;
}

.btn-panier {
  text-align: center;
  background-color: #ff8126;
  height: 30%;
  border:none;
  width: 60%;
  padding:2%;
  font-size: 27px;
  color: #ffff;
  font-family: "Gilroy-Bold", sans-serif;
}
