#sign-in-form div {
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
}

#main-container {
  place-items: center center;
}

#sign-in-form input {
  background-color: #f6f6f6;
  width: 90%;
  padding: 4%;
  text-align: left;
}
.form-control:focus {
  z-index: 5;
}

.modal-body{
  padding:50px;
  margin:10px 10px;
}
.modal-body div {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color:  #FF8126;

}
.title-connexion{
  padding:20px;
}
.modal-body p{
  text-transform: capitalize;
  font-family:'Gilroy-Light',sans-serif;
  
}
.div-copyright .btn-submit{
  color: #ffff;
  font-transform: uppercase;
  font-style: italic;
}